@import '../constants'

:local(.root)
  > nav
    box-shadow                              inset 0 -1px DIVIDER
    > label
      padding                             : (OFFSET / 2) OFFSET
      font-size                           : FONT_SIZE_TINY
      font-weight                         : FONT_WEIGHT_BOLD
      text-transform                      : Uppercase
      color                               : TEXT_SECONDARY
      transition-property                   box-shadow, color
      transition-duration                   ANIMATION_DURATION
      transition-timing-function            ANIMATION_EASE
      &.active
        color                             : TEXT
        box-shadow                          inset 0 (-(OFFSET / 10)) PRIMARY
      &.disabled
        opacity                           : 0.2
      &:not(.disabled)
        cursor                            : pointer
      &.hidden
        display                           : none

:local(.tab)
  padding                                 : (OFFSET / 2) OFFSET
  &:not(.active)
    display                               : none
  &.active
    display                               : block
