[data-component-link]
  position                        : relative
  overflow                        : hidden
  transition                        opacity ANIMATION_DURATION ANIMATION_EASE
  // -- Styles
  &:not(.active)
    font-weight                   : FONT_WEIGHT_THIN
    opacity                       : 0.5
  &:hover, &:active, &.active
    opacity                       : 1
  &.active
    font-weight                   : FONT_WEIGHT_NORMAL
  // -- Children
  > *
    vertical-align                : middle
  > .icon
    margin-right                  : (SPACE / 2)
    font-size                     : FONT_SIZE_BIG
  > abbr
    text-transform                : Capitalize
  > small
    font-size                     : FONT_SIZE_TINY
    text-align                    : center
