@import "../base";
@import "./config";

.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-highest;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &.invisible {
    .overlay {
      pointer-events: none;
      //fixme: couldn't make it work with global/local section :(
      opacity: 0!important;
    }

  }
  > * {
    pointer-events: all;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: opacity;
  opacity: $overlay-opacity;
}

:global {
  .rt-overlay-appear, .rt-overlay-leave.rt-overlay-leave-active {
    :local(.overlay) {
      opacity: 0;
    }
  }

  .rt-overlay-appear.rt-overlay-appear-active, .rt-overlay-leave {
    :local(.overlay) {
      opacity: $overlay-opacity;
    }
  }
}
