@import "../colors";
@import "../globals";
@import "../mixins";
@import "./config";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-highest + 1;
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: $overlay-color;
  opacity: 0;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: opacity;
}

.active {
  > .backdrop {
    opacity: $overlay-opacity;
  }
}

body {
  &.active {
    overflow: hidden;
  }
}
