@import "../globals";

$editor-width: 50%;
$preview-background: #fff;

.playground {
  display: flex;
  > * {
    flex-grow: 1;
  }
  background: red;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
  > .editor {
    width: $editor-width;
  }

  > .preview {
    background: $preview-background;
  }
}
