@import "../globals";

$editor-width: 50%;
$preview-background: #fff;

.playground {
  display: flex;
  > * {
    flex-grow: 1;
  }
}

.vertical {
  flex-direction: column;
  > .editor {
    height: 60%;
  }

  > .preview {
    height: 40%;
  }
}

.horizontal {
  flex-direction: row;
  > .editor {
    width: 60%;
  }

  > .preview {
    width: 40%;
  }
}
