handWidth   = 4px
handDotSize = 6px
knobSize    = 34px

:local(.root)
  border: 1px solid pink
  padding: 20px

:local(.wrapper)
  position: relative

:local(.face)
  border-radius: 50%
  position: relative

:local(.number)
  width: 20px
  text-align: center
  pointer-events: none
  height: 20px
  margin-left: -10px
  margin-top: -10px

:local(.outerSphere), :local(.innerSphere)
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)

:local(.outerSphere)
  background: gray

:local(.innerSphere)
  background: yellow

:local(.hand)
  background-color    : magenta
  bottom              : 50%
  display             : block
  left                : 50%
  margin-left         : -(handWidth/2)
  opacity             : .6
  position            : absolute
  transform-origin    : 50% 100%
  width               : handWidth

  &:before
    background-color  : magenta
    border-radius     : 50%
    bottom            : 0
    content           : ''
    height            : handDotSize
    left              : 50%
    margin-bottom     : -(handDotSize/2)
    margin-left       : -(handDotSize/2)
    position          : absolute
    width             : handDotSize

:local(.knob)
  background-color    : magenta
  border-radius       : 50%
  cursor              : pointer
  height              : knobSize
  left                : 50%
  margin-left         : -(knobSize/2)
  position            : absolute
  top                 : -(knobSize)
  width               : knobSize
