---

  env:
    es6: true

  ecmaFeatures:
    modules: true
    jsx: true

  parser: babel-eslint

  plugins: [react]


  rules:

    # Best Practices

    semi: [2, always]
    # semi: [2, never]

    curly: [2, multi-line]
    # comma-dangle: [2, always-multiline]
    no-use-before-define: [2, nofunc]

    no-loop-func: 1 # should allow arrow function


    # Strict Mode

    strict: [2, global]
    global-strict: 0


    # Consistence

    quotes: [2, single, avoid-escape]
    new-cap: [2, capIsNew: false]

    no-underscore-dangle: 0
    new-parens: 0


    # ES6+

    no-var: 2
    prefer-const: 2

    object-shorthand: 1 # buggy

    constructor-super: 2
    no-this-before-super: 2

    generator-star-spacing: 2


    # Extra

    no-labels: 1
    no-proto: 1
    no-constant-condition: 1

    # React
