[data-screen]
  position                                : absolute
  left                                    : 0
  top                                     : 0
  height                                  : 100vh
  width                                   : 100vw
  transition                                transform ANIMATION_DURATION ANIMATION_EASE
  > section
    height                                : 100vh
    padding                               : (HEADER_HEIGHT + UNIT) OFFSET OFFSET OFFSET
