$card-color-white: unquote("rgb(#{$color-white})") !default;
$card-text-overlay: unquote("rgba(#{$color-black}, 0.3)");

$card-background-color: $card-color-white;

$card-padding-sm: 8px;
$card-padding: 16px;
$card-padding-lg: 20px;

$card-font-size: $font-size-small;
