$card-color-white: $color-white !default;
$card-text-overlay: rgba($color-black, 0.35) !default;

$card-background-color: $card-color-white;

$card-padding-sm: 8px;
$card-padding: 16px;
$card-padding-lg: 20px;

$card-font-size: $font-size-small;
