@import "../../../globals";
@import "~react-toolbox/app_bar/config";
$appbar-height: 11.2 * $unit;
$appbar-logo-size: 3.6 * $unit;
$appbar-shadow: 0 1px rgba(255,255,255,.75);

.appbar {
  display: flex;
  min-height: $appbar-height;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: $color-primary-dark;
  box-shadow: $appbar-shadow;
}

.logo {
  width: $appbar-logo-size;
  height: $appbar-logo-size;
  fill: $color-primary-contrast;
}

.navigation {
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      > a {
        @include typo-menu;
        display: inline-block;
        margin-right: $appbar-h-padding;
        line-height: $appbar-height / 2;
        color: $color-primary-contrast;
      }
    }
  }
}
