@import "../../../globals";
@import "~react-toolbox/app_bar/config";
@import "~react-toolbox/button/config";

$appbar-brand-height: 2 * $unit;
$appbar-brand-v-padding: ($appbar-height - $appbar-brand-height) / 2;
$appbar-brand-logo-size: $appbar-height - 2.6 * $unit;
$appbar-shadow: 0 1px rgba(255,255,255,0.75);

.appbar {
  composes: root from "sass!react-toolbox/app_bar/style";
  background: $color-primary-dark;
  box-shadow: $appbar-shadow;
}

.brand {
  @include typo-title;
  position: relative;
  display: inline-block;
  padding-top: $appbar-brand-v-padding;
  padding-bottom: $appbar-brand-v-padding;
  padding-left: $appbar-title-distance;
  font-weight: 400;
  color: $color-primary-contrast;
  > .logo {
    position: absolute;
    top: 50%;
    left: 0;
    width: $appbar-brand-logo-size;
    height: $appbar-brand-logo-size;
    margin-top: - $appbar-brand-logo-size / 2;
    fill: $color-primary-contrast;
  }
}

.navigation {
  flex-grow: 1;
  padding-right: $button-floating-height;
  text-align: right;
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      > a {
        @include typo-menu;
        display: inline-block;
        padding: 2.5 * $unit $appbar-h-padding;
        color: $color-primary-contrast;
      }
    }
  }
}

.playground-button {
  position: absolute;
  right: $button-floating-height / 2;
  bottom: -($button-floating-height / 2);
}
