@import 'colors.css';
@import 'variables.css';
@import '../config.css';

.root {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  width: var(--navigation-width);
}

.list {
  flex-grow: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.item {
  & > span {
    padding: var(--navigation-v-padding) var(--navigation-h-padding);
  }

  & [data-react-toolbox='list-item-text'] {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
  }
}

.active {
  background: $color-divider;
}

.footer {
  border-top: var(--navigation-footer-border);
  color: var(--color-text-secondary);
  flex-grow: 0;
  font-size: var(--font-size-small);
  overflow: hidden;
  padding: var(--navigation-h-padding);

  & > * {
    display: block;
  }
}
