@import 'colors.css';
@import 'variables.css';
@import '../config.css';

.editor,
.preview {
  overflow-y: auto;
  position: absolute;
  right: 0;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.editor {
  bottom: 50%;
  left: 0;
  top: 0;

  & div:global(.CodeMirror) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
}

.preview {
  bottom: 0;
  display: flex;
  left: 0;
  top: 50%;
}
