@import "../globals";
@import "../mixins";

$preview-error-background: #f2777a;
$preview-error-color: #fff;

.preview {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: $unit;
}

.error {
  @include code-typography;
  padding: .5 * $unit;
  color: $preview-error-color;
  letter-spacing: -.05 * $unit;
  background: $preview-error-background;
  border-bottom: 1px solid darken($preview-error-background, 6);
}
