@import 'variables';

:root {
  --preview-error-background: #f2777a;
  --preview-error-color: #fff;
}

.preview {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  margin: calc(2 * var(--unit));
}

.error {
  background: var(--preview-error-background);
  border-bottom: 1px solid color(var(--preview-error-background) blackness(60%));
  color: var(--preview-error-color);
  font-family: source-code-pro, Menlo, Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
  font-size: 13px;
  letter-spacing: calc(-0.05 * var(--unit));
  line-height: 1.4;
  padding: calc(0.5 * var(--unit));
}
