@import "../base";
@import "./config";

.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-high;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  > .content {
    opacity: 0;
    transform: translateY(-$dialog-translate-y);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  opacity: 0;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: opacity;
}

.content {
  display: flex;
  max-width: 96vw;
  max-height: 96vh;
  flex-direction: column;
  background-color: $dialog-color-white;
  border-radius: $dialog-border-radius;
  box-shadow: $zdepth-shadow-5;
  transition-delay: $animation-delay;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: opacity, transform;
}

.title {
  @include typo-title();
  flex-grow: 0;
  margin-bottom: 1.6 * $unit;
  color: $dialog-color-title;
}

.body {
  flex-grow: 2;
  padding: $dialog-content-padding;
  overflow-y: auto;
  color: $color-text-secondary;
}

.navigation {
  flex-grow: 0;
  padding: $dialog-navigation-padding;
  text-align: right;
}

.button {
  min-width: 0;
  padding-right: $dialog-navigation-padding;
  padding-left: $dialog-navigation-padding;
  margin-left: $dialog-navigation-padding;
}

.active {
  pointer-events: all;
  > .overlay {
    opacity: $color-overlay-opacity;
  }
  > .content {
    opacity: 1;
    transform: translateY(0%);
  }
}

.small > .content {
  width: 30vw;
}

.normal > .content {
  width: 50vw;
}

.large > .content {
  width: 96vw;
}
