@import "../colors";
@import "../globals";
@import "../mixins";
@import "./config";

.holder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-y: auto;

  &.autoheight {
    overflow-y: auto;
    .body {
      height: auto;
      max-height: none !important;
    }
  }

  .dialog {
    position: relative;
    width: 96vw;
    margin: 0 auto;
    background-color: $dialog-color-white;
    border-radius: $dialog-border-radius;
    box-shadow: $zdepth-shadow-5;
    opacity: 0;
    transition-delay: $animation-delay;
    transition-timing-function: $animation-curve-default;
    transition-duration: $animation-duration;
    transition-property: opacity, margin;
    &.active {
      opacity: 1;
    }
  }

  .layout {
    display: table;
    width: 100%;
    height: 100%;

    .top {
      display: table-cell;
      vertical-align: top;

      .dialog {
        &.active {
          margin: $dialog-translate-y auto;
          opacity: 1;
        }
      }
    }

    .center {
      display: table-cell;
      vertical-align: middle;
    }

    .small {
      width: 30vw;

      @media screen and (max-width: $layout-breakpoint-sm-tablet) {
        width: 50vw;
      }

      @media screen and (max-width: $layout-breakpoint-xs) {
        width: 75vw;
      }
    }

    .normal {
      width: 50vw;

      @media screen and (max-width: $layout-breakpoint-xs) {
        width: 96vw;
      }
    }

    .large {
      width: 96vw;
    }

    .fullscreen {
      width: 96vw;

      @media screen and (max-width: $layout-breakpoint-xs) {
        width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        border-radius: 0;
      }
    }
  }
}

.title {
  @include typo-title();
  flex-grow: 0;
  margin-bottom: 1.6 * $unit;
  color: $dialog-color-title;
}

.body {
  flex-grow: 2;
  padding: $dialog-content-padding;
  color: $color-text-secondary;
}

.navigation {
  flex-grow: 0;
  padding: $dialog-navigation-padding;
  text-align: right;
}

.button {
  min-width: 0;
  padding-right: $dialog-navigation-padding;
  padding-left: $dialog-navigation-padding;
  margin-left: $dialog-navigation-padding;
}
