:root {
  --checkbox-color: var(--color-primary);
  --checkbox-text-color: var(--color-text);
  --checkbox-disabled-color: var(--color-faded);
  --checkbox-focus-checked-color: color(var(--color-primary) a(26%));
  --checkbox-focus-color: var(--color-text-secondary);
  --checkbox-focus-size: calc(var(--checkbox-size) * 2.3);
  --checkbox-field-margin-bottom: calc(1.5 * var(--unit));
  --checkbox-ripple-duration: 650ms;
  --checkbox-size: calc(1.8 * var(--unit));
  --checkbox-text-font-size: var(--font-size-small);
  --checkbox-total-height: calc(1.8 * var(--unit));
  --checkbox-transition-duration: 0.2s;
}
