:root {
  --media-min-width: 1440px;
  --playground-max-width: calc(var(--media-min-width) / 2);
  --playground-width: 50%;
  --navigation-width: calc(22 * var(--unit));
  --navigation-h-padding: calc(2.4 * var(--unit));
  --navigation-v-padding: calc(1.2 * var(--unit));
  --navigation-footer-border: solid 1px rgb(224, 224, 224);
  --documentation-left-shadow:
    0 4px 5px 0 color(var(--color-black) a(14%)),
    0 1px 10px 0 color(var(--color-black) a(12%)),
    0 2px 4px -1px color(var(--color-black) a(20%));
  --documentation-right-shadow: -2px 0 4px color(var(--color-black) a(14%));
}
