@import 'colors.css';
@import 'variables.css';

:root {
  --appbar-height: calc(6.4 * var(--unit));
  --appbar-logo-size: calc(3.6 * var(--unit));
  --appbar-shadow: 0 1px rgba(255, 255, 255, 0.65);
  --appbar-navigation-offset: calc(6.5 * var(--unit));
}

.appbar {
  align-items: flex-start;
  box-shadow: var(--appbar-shadow);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: var(--appbar-height);
  z-index: var(--z-index-higher);
}

.logo {
  display: block;
  fill: var(--color-primary-contrast);
  height: var(--appbar-logo-size);
  margin-top: calc((var(--appbar-height) - var(--appbar-logo-size)) / 2);
  width: var(--appbar-logo-size);
}

.navigation {
  flex-grow: 1;
  text-align: right;

  & > ul {
    list-style: none;

    & > li {
      display: inline-block;

      & > a {
        color: var(--color-primary-contrast);
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0;
        line-height: var(--appbar-height);
        margin-right: var(--unit);
        padding: 0 calc(1.5 * var(--unit));
        position: relative;

        &.active::after {
          background-color: var(--color-accent);
          bottom: 0;
          content: '';
          display: block;
          height: calc(0.3 * var(--unit));
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
