@import url("http://fonts.googleapis.com/css?family=Roboto:500,300,700,400")

// -- Colors
COLOR                       = #222222
BACKGROUND                  = #ffffff
THEME                       = #ffc107

// -- Fonts
FONT_FAMILY                 = "Roboto", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 16px
FONT_SIZE_TINY              = 80%
FONT_SIZE_SMALL             = 90%
FONT_SIZE_NORMAL            = 100%
FONT_SIZE_BIG               = 120%
FONT_WEIGHT_THIN            = normal
FONT_WEIGHT_NORMAL          = normal
FONT_WEIGHT_BOLD            = bold

// -- Sizes
UNIT                        = 4rem
SPACE                       = (UNIT * 0.29)
MENU_WIDTH                  = 85vw
HEADER_HEIGHT               = 10vh
BUTTON_HEIGHT               = (2.5 * SPACE)
BUTTON_HEIGHT               = 14vw
BORDER_RADIUS               = (SPACE / 2)
UPLOAD_IMAGE_USER           = 45vw
H1_SHADOW                   = (SPACE / 6) (SPACE / 6) rgba(0,0,0,0.2)

LI_AVATAR_SIZE              = (UNIT / 1.2)
LI_HEIGHT                   = 72px

// -- Animations
ANIMATION_DURATION          = 450ms
ANIMATION_EASE              = cubic-bezier(.55,0,.1,1)
ANIMATION_DELAY             = (ANIMATION_DURATION / 5)

delayChild(child, increment)
  &:nth-child({child})
    transition-delay ((child + increment) * ANIMATION_DELAY)

@keyframes LOADING
  0%
    transform scale(0.0)
  100%
    transform scale(1.0)
    opacity: 0
