@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,700")

// -- Colors
COLOR                       = #222222
BACKGROUND                  = #ffffff
THEME                       = #00bcd4

PRIMARY                     = rgb(255, 64, 129)

// -- Fonts
FONT_FAMILY                 = "Roboto", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 16px
FONT_SIZE_TINY              = 80%
FONT_SIZE_SMALL             = 90%
FONT_SIZE_NORMAL            = 100%
FONT_SIZE_BIG               = 120%
FONT_WEIGHT_THIN            = 100
FONT_WEIGHT_NORMAL          = 400
FONT_WEIGHT_BOLD            = 700

// -- Sizes
UNIT                        = 4rem
SPACE                       = (UNIT * 0.29)
HEADER_HEIGHT               = 25vh

BUTTON_HEIGHT               = (2.5 * SPACE)
BUTTON_HEIGHT               = 14vw
BUTTON_CIRCLE_HEIGHT        = (2.75 * SPACE)
BORDER_RADIUS               = (SPACE / 2)
H1_SHADOW                   = (SPACE / 6) (SPACE / 6) rgba(0,0,0,0.2)

// -- Animations
ANIMATION_DURATION          = 450ms
ANIMATION_EASE              = cubic-bezier(.55,0,.1,1)
ANIMATION_DELAY             = (ANIMATION_DURATION / 5)
