body
  font-family                               : FONT_FAMILY
  font-size                                 : FONT_SIZE
  font-weight                               : FONT_WEIGHT_NORMAL
  color                                     : COLOR
  background-color                          : BACKGROUND
  a
    color                                   : WHITE
  h1, h2, h3, h4, h5, h6
    font-weight                             : FONT_WEIGHT_NORMAL
  h1
    font-size                               : SIZE = (1.75 * FONT_SIZE_NORMAL)
    line-height                             : SIZE
  h2
    font-size                               : (1.5 * FONT_SIZE_NORMAL)

  // -- Classes
  .scroll
    overflow-x                              : hidden
    overflow-y                              : scroll
    -webkit-overflow-scrolling              : touch
