$button-neutral-color: $color-white !default;
$button-neutral-color-contrast: $palette-grey-900 !default;
$button-neutral-color-hover: rgba($palette-grey-900, 0.20) !default;
$button-primary-color-contrast: $color-primary-contrast !default;
$button-primary-color-hover: rgba($color-primary, 0.20) !default;
$button-primary-color: $color-primary !default;
$button-accent-color-contrast: $color-primary-contrast !default;
$button-accent-color-hover: rgba($color-accent, 0.20) !default;
$button-accent-color: $color-accent !default;
$button-default-text-color: $color-black !default;
$button-disabled-text-color: rgba($color-black, 0.26) !default;
$button-flat-color-hover: rgba($color-black, 0.26) !default;
$button-border-radius: 0.2 * $unit;
$button-floating-font-size: $unit * 2.4;
$button-floating-height-mini: $unit * 4;
$button-floating-mini-font-size: $button-floating-height-mini / 2.25;
$button-floating-height: $unit * 5.6;
$button-height: $unit * 3.6;
$button-solid-background-color: rgba($palette-grey-500, 0.20) !default;
$button-solid-disabled-background-color: rgba($color-black, 0.12) !default;
$button-squared-icon-margin: $unit * .6;
$button-squared-min-width: 9 * $unit;
$button-squared-padding: 0 $unit * 1.2;
