:root {
  --button-primary-color: var(--color-primary);
  --button-primary-color-focus: color(var(--color-primary) shade(12%));
  --button-primary-color-contrast: var(--color-primary-contrast);
  --button-flat-primary-color-hover: color(var(--color-primary) a(12%));
  --button-accent-color: var(--color-accent);
  --button-accent-color-focus: color(var(--color-accent) shade(12%));
  --button-accent-color-contrast: var(--color-primary-contrast);
  --button-flat-accent-color-hover: color(var(--color-accent) a(12%));
  --button-neutral-color: var(--color-background);
  --button-neutral-color-focus: color(var(--color-background) shade(12%));
  --button-neutral-color-contrast: var(--color-text);
  --button-flat-neutral-color-hover: color(var(--color-text) a(12%));
  --button-disabled-text-color: var(--color-faded);
  --button-disabled-background-color: var(--color-divider);
  --button-disabled-text-color-inverse: color(var(--color-background) a(28%));
  --button-disabled-background-inverse: color(var(--color-background) a(12%));
  --button-border-radius: calc(0.2 * var(--unit));
  --button-height: calc(3.6 * var(--unit));
  --button-shadow: var(--shadow-2p);
  --button-shadow-active: var(--shadow-8p);
  --button-floating-shadow: var(--shadow-6p);
  --button-floating-shadow-active: var(--shadow-12p);
  --button-toggle-font-size: calc(2 * var(--unit));
  --button-floating-font-size: calc(2.4 * var(--unit));
  --button-floating-height: calc(5.6 * var(--unit));
  --button-floating-mini-height: calc(4 * var(--unit));
  --button-floating-mini-font-size: calc(var(--button-floating-mini-height) / 2.25);
  --button-squared-icon-margin: calc(0.6 * var(--unit));
  --button-squared-min-width: calc(9 * var(--unit));
  --button-squared-padding: 0 calc(1.2 * var(--unit));
}
