@import "../colors.css";
@import "../globals.css";
@import "./config.css";

.avatar {
  position: relative;
  display: inline-block;
  width: var(--avatar-size);
  height: var(--avatar-size);
  overflow: hidden;
  font-size: var(--avatar-font-size);
  color: var(--avatar-color);
  text-align: center;
  vertical-align: middle;
  background-color: var(--avatar-background);
  border-radius: 50%;
  & > svg {
    width: 1em;
    height: var(--avatar-size);
    fill: currentColor;
  }
  & > img {
    max-width: 100%;
    height: auto;
  }
}

.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.letter {
  display: block;
  width: 100%;
  line-height: var(--avatar-size);
}
