button, .button
  height                                  : BUTTON_HEIGHT
  width                                   : auto
  font-size                               : FONT_SIZE_BIG
  font-weight                             : FONT_WEIGHT_BOLD
  line-height                             : BUTTON_HEIGHT
  text-align                              : center
  border                                  : none
  overflow                                : hidden
  transition                                all ANIMATION_DURATION ANIMATION_EASE
