form
  background-color                        : WHITE
  padding                                 : SPACE
  // -- Classes
  &.session
    max-width                             : 25vw
    > *
      margin-bottom                       : (SPACE / 2)

    h1
      padding                             : 0
    input
      font-size                           : FONT_SIZE_BIG !important
    a
      text-align                          : center
      font-size                           : FONT_SIZE_TINY
