header
  position                            : fixed
  height                              : UNIT
  width                               : 100vw
  background-color                    : THEME
  color                               : WHITE
