li
  margin-bottom                           : SPACE
  padding                                 : SPACE
  background-color                        : white
  box-shadow                              : HEADER_SHADOW
  img
    width                                 : SIZE = (2.5 * SPACE)
    height                                : SIZE
    background-color                      : #dddddd
    border-radius                         : SIZE
    margin-right                          : SPACE

  strong
    font-size                             : (1.25 * FONT_SIZE_NORMAL)
