nav
  &[data-role="text"]
    font-size                         : FONT_SIZE_NORMAL
    > *
      transition                        opacity ANIMATION_DURATION ANIMATION_EASE
      &:not(.active)
        font-weight                   : FONT_WEIGHT_THIN
        opacity                       : 0.5
      &:hover, &:active, &.active
        opacity                       : 1
      &.active
        font-weight                   : FONT_WEIGHT_NORMAL
      &:not(:last-child)
        margin-right                    : SPACE
