@import "../base";
@import "./config";

.root {
  width: 100%;
  font-size: $font-size-tiny;
  color: $color-text;
  text-align: left;
  tr {
    height: $table-row-height;
    line-height: $table-row-height;
    border-bottom: $table-row-divider;
    &:hover {
      background-color: $color-divider;
    }
  }
  th {
    font-weight: $font-weight-bold;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  th, td {
    position: relative;
    padding: 0 $table-row-offset;
  }
}

.row {
  &:last-child {
    border-color: transparent;
  }
  > td {
    > input {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
    }
  }
}

.editable > * {
  cursor: pointer;
}

.changed {
  td:first-child:before {
    position: absolute;
    top: ($table-row-height / 2.5);
    left: ($table-row-height / 10);
    width: $table-change-icon-size;
    height: $table-change-icon-size;
    font-size: 50%;
    line-height: $font-size-small;
    background-color: $table-change-icon-color;
    color: white;
    text-align: center;
    content: " ";
    border-radius: 50%;
  }
}
