:root {
  --progress-height: calc(0.4 * var(--unit));
  --progress-main-color: var(--color-primary);
  --progress-secondary-color: color(var(--color-primary-contrast) a(70%));
  --progress-disabled-color: var(--color-faded);
  --circle-wrapper-width: 60;
  --circle-radius: 25;
  --scale-ratio: calc(var(--circle-radius) / 20);
}
