@import 'colors.css';
@import 'variables.css';

:root {
  --hero-gradient-dark: var(--color-primary-dark);
  --hero-gradient-light: var(--color-primary-light);
  --hero-text-color: var(--color-primary-contrast);
  --hero-max-width: calc(62 * var(--unit));
  --hero-text-secondary-opacity: 0.75;
  --hero-item-spacing: calc(5 * var(--unit));
  --hero-logo-size: calc(12 * var(--unit));
  --hero-logo-opacity: 0.85;
  --github-buttons-height: calc(4 * var(--unit));
  --twitter-color: #55acee;
  --content-offset: calc(4.8 * var(--unit));
  --content-width: 740px;
  --color-content: #fafafa;
}

.header {
  background: linear-gradient(45deg, var(--hero-gradient-dark) 0%, var(--hero-gradient-light) 100%);
  background-position: top right;
  background-size: 120%;
  color: var(--hero-text-color);
  padding: 0 calc((100% - var(--hero-max-width)) / 2);
  text-align: center;

  & .logo {
    fill: var(--hero-text-color);
    height: var(--hero-logo-size);
    margin-top: calc(var(--hero-item-spacing) + var(--github-buttons-height));
    opacity: var(--hero-logo-opacity);
    width: var(--hero-logo-size);
  }

  & .title {
    font-size: calc(5.6 * var(--unit));
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.35;
    margin-top: var(--hero-item-spacing);
  }

  & .subtitle {
    font-size: calc(2.4 * var(--unit));
    font-weight: 400;
    line-height: 1.2;
    margin-top: var(--unit);
    opacity: var(--hero-text-secondary-opacity);
  }

  & .github {
    left: calc(2 * var(--unit));
    position: fixed;
    text-align: center;
    top: calc(2 * var(--unit));
    z-index: var(--z-index-higher);

    & iframe {
      display: inline-block;
      height: calc(2 * var(--unit));
      vertical-align: top;
      width: calc(10 * var(--unit));
    }
  }

  & .navigation > ul {
    list-style: none;
    margin-top: var(--hero-item-spacing);

    & li {
      display: inline-block;
      position: relative;

      &:not(:last-child) > a::after {
        content: '·';
        display: inline-block;
        font-size: 50px;
        line-height: 60px;
        margin: 0 10px;
        vertical-align: middle;
      }

      & > a {
        color: var(--hero-text-color);
        display: inline-block;
        font-size: calc(2 * var(--unit));
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 60px;
        opacity: var(--hero-text-secondary-opacity);
        position: relative;
        vertical-align: middle;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.twitterButton {
  &.neutral.flat:not([disabled]) {
    color: var(--twitter-color);
  }
}

.content {
  align-items: center;
  background-color: var(--color-content);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--content-offset);

  &:nth-child(3) {
    background-color: color(var(--color-content) blackness(5%));
  }

  & > .authors {
    align-items: flex-start;
    display: flex;
    justify-content: center;

    & > * {
      flex: 1 auto;
      margin: 0 var(--unit);
      max-width: calc(32 * var(--unit));
    }
  }

  & > p {
    font-size: calc(1.8 * var(--unit));
    line-height: 1.5;
    margin-bottom: var(--content-offset);
    max-width: var(--content-width);
    opacity: 0.6;
    text-align: justify;
  }

  & > h2 {
    color: var(--hero-gradient-dark);
    font-size: calc(2 * var(--unit));
    margin-bottom: var(--content-offset);
  }

  & > h3 {
    color: var(--color-primary-dark);
    font-size: calc(2.4 * var(--unit));
    margin-bottom: calc(var(--content-offset) / 2);
  }
}

.footer {
  background-color: var(--color-text);
  color: var(--color-content);
  padding: calc(2 * var(--unit)) 0;
  text-align: center;

  & .love {
    color: var(--color-accent);
    font-size: var(--font-size-normal);
  }

  & small {
    color: rgba(255, 255, 255, 0.5);
  }
}

.donate {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: calc(1.1 * var(--unit));
  overflow: hidden;
  vertical-align: top;

  & .legend {
    background-color: #555;
    display: inline-block;
    line-height: calc(2 * var(--unit));
    padding: 0 calc(0.5 * var(--unit));
  }

  & .paypal {
    background-color: #007ec6;
    display: inline-block;
    line-height: calc(2 * var(--unit));
    padding: 0 calc(0.5 * var(--unit));
  }
}

@media all and (max-width: 768px) {
  & .header {
    & .github {
      position: absolute;
    }
  }

  & .content {
    padding: calc(var(--content-offset) / 2);

    & > .authors {
      flex-direction: column;

      & > * {
        margin: var(--unit) 0;
      }
    }

    & > p {
      max-width: 100%;
    }
  }

  & .second-content {
    background-color: transparent;
  }
}
