@import "../../globals";
@import "./config";

$content-offset: 4.8 * $unit;
$content-width: 740px;

.header {
  padding: 0 calc((100% - #{$hero-max-width}) / 2);
  color: $hero-text-color;
  text-align: center;
  background: linear-gradient(45deg, $hero-gradient-dark 0%, $hero-gradient-light 100%);
  background-position: top right;
  background-size: 120%;
  .logo {
    width: $hero-logo-size;
    height: $hero-logo-size;
    margin-top: $hero-item-spacing;
    opacity: $hero-logo-opacity;
    fill: $hero-text-color;
  }
  .title {
    @include typo-display-3;
    margin-top: $hero-item-spacing;
  }
  .subtitle {
    @include typo-headline;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.2;
    opacity: $hero-text-secondary-opacity;
  }
  .navigation > ul {
    margin-top: $hero-item-spacing;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
      &:not(:last-child) > a:after {
        display: inline-block;
        margin: 0 10px;
        font-size: 50px;
        vertical-align: middle;
        content: "·";
      }
      > a {
        @include typo-title;
        position: relative;
        display: inline-block;
        font-weight: 400;
        line-height: 1.2;
        color: $hero-text-color;
        vertical-align: middle;
        opacity: $hero-text-secondary-opacity;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $content-offset 0;
  background-color: $color-content;

  flex-wrap: wrap;
  > .authors {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    > * {
      flex: 1 auto;
      margin: 0 $unit;
    }
  }
  > p {
    max-width: $content-width;
    margin-bottom: $content-offset;
    font-size: 1.8 * $unit;
    line-height: 1.5;
    text-align: justify;
    opacity: .6;
  }
  > h2 {
    margin-bottom: $content-offset;
    font-size: 2 * $unit;
    color: $hero-gradient-dark;
  }
}

.authors-title {
  margin-bottom: $content-offset / 2;
  font-size: 2.4 * $unit;
}

.second-content {
  background: darken($color-content, 5%);
}

.footer {
  padding: 2 * $unit 0;
  color: $color-content;
  text-align: center;
  background-color: $color-text;
}
