$tooltip-background: rgba(97,97,97,.9);
$tooltip-margin: 0.5 * $unit;
$tooltip-border-radius: .2 * $unit;
$tooltip-color: #fff;
$tooltip-font-size: $unit;
$tooltip-max-width: 17 * $unit;
$tooltip-padding: .8 * $unit;
$tooltip-animation-duration: 2000ms;
