:root {
  --chip-color: var(--color-text);
  --chip-background: var(--color-background-hover);
  --chip-remove-color: var(--color-faded);
  --chip-remove-color-hover: var(--color-text-disabled);
  --chip-height: calc(3.2 * var(--unit));
  --chip-padding: calc(1.2 * var(--unit));
  --chip-margin-right: calc(0.25 * var(--unit));
  --chip-icon-font-size: calc(2 * var(--unit));
  --chip-icon-margin-right: calc(0.8 * var(--unit));
  --chip-font-size: var(--font-size-small);
  --chip-remove-size: calc(2.4 * var(--unit));
  --chip-remove-margin: calc(0.4 * var(--unit));
  --chip-remove-stroke-width: calc(0.4 * var(--unit));
}
