@import "../base";
@import "../mixins";
@import "./config";

.chip {
  background-color: $chip-background;
  border-radius: $chip-height;
  color: $chip-color;
  display: inline-block;
  font-size: $chip-font-size;
  line-height: $chip-height;
  margin-right: $chip-margin-right;
  padding: 0 $chip-padding;
}

.avatar {
  padding-left: 0;

  > [data-react-toolbox="avatar"] {
    height: $chip-height;
    margin-right: $chip-icon-margin-right;
    vertical-align: middle;
    width: $chip-height;

    > span {
      font-size: $chip-icon-font-size;
      line-height: $chip-height;
    }
  }
}

.deletable {
  padding-right: 0;
}

.delete {
  background: $chip-remove-background;
  border-radius: $chip-remove-size;
  color: $chip-remove-color;
  cursor: pointer;
  display: inline-block;
  height: $chip-remove-size;
  line-height: $chip-remove-line-height;
  margin: 0 $chip-remove-margin;
  text-align: center;
  vertical-align: middle;
  width: $chip-remove-size;

  > [data-react-toolbox="font-icon"] {
    font-size: $chip-remove-font-size;
  }

  &:hover {
    background: $chip-remove-background-hover;
  }
}
