@import "~react-toolbox/base";
@import "~react-toolbox/commons";

$unit: 1rem;
$color-primary-dark: unquote("rgb(#{$color-primary-dark})");
$color-primary-light: unquote("rgb(#{$color-primary-light})");
$color-primary-contrast: unquote("rgb(#{$color-primary-contrast})");
$color-accent: unquote("rgb(#{$color-accent})");
$color-divider: $color-divider;
$color-content: #fafafa;
