$import-flex-attributes: true;

@import "~react-toolbox/base";

$unit: 1rem;
$color-primary-dark: $color-primary-dark;
$color-primary-light: $color-primary-light;
$color-primary-contrast: $color-primary-contrast;
$color-accent: $color-accent;
$color-divider: $color-divider;
$color-content: #fafafa;
