:root {
  --paletteRed50: rgb(255, 235, 238);
  --paletteRed100: rgb(255, 205, 210);
  --paletteRed200: rgb(239, 154, 154);
  --paletteRed300: rgb(229, 115, 115);
  --paletteRed400: rgb(239, 83, 80);
  --paletteRed500: rgb(244, 67, 54);
  --paletteRed600: rgb(229, 57, 53);
  --paletteRed700: rgb(211, 47, 47);
  --paletteRed800: rgb(198, 40, 40);
  --paletteRed900: rgb(183, 28, 28);
  --paletteRedA100: rgb(255, 138, 128);
  --paletteRedA200: rgb(255, 82, 82);
  --paletteRedA400: rgb(255, 23, 68);
  --paletteRedA700: rgb(213, 0, 0);

  --palettePink50: rgb(252, 228, 236);
  --palettePink100: rgb(248, 187, 208);
  --palettePink200: rgb(244, 143, 177);
  --palettePink300: rgb(240, 98, 146);
  --palettePink400: rgb(236, 64, 122);
  --palettePink500: rgb(233, 30, 99);
  --palettePink600: rgb(216, 27, 96);
  --palettePink700: rgb(194, 24, 91);
  --palettePink800: rgb(173, 20, 87);
  --palettePink900: rgb(136, 14, 79);
  --palettePinkA100: rgb(255, 128, 171);
  --palettePinkA200: rgb(255, 64, 129);
  --palettePinkA400: rgb(245, 0, 87);
  --palettePinkA700: rgb(197, 17, 98);

  --palettePurple50: rgb(243, 229, 245);
  --palettePurple100: rgb(225, 190, 231);
  --palettePurple200: rgb(206, 147, 216);
  --palettePurple300: rgb(186, 104, 200);
  --palettePurple400: rgb(171, 71, 188);
  --palettePurple500: rgb(156, 39, 176);
  --palettePurple600: rgb(142, 36, 170);
  --palettePurple700: rgb(123, 31, 162);
  --palettePurple800: rgb(106, 27, 154);
  --palettePurple900: rgb(74, 20, 140);
  --palettePurpleA100: rgb(234, 128, 252);
  --palettePurpleA200: rgb(224, 64, 251);
  --palettePurpleA400: rgb(213, 0, 249);
  --palettePurpleA700: rgb(170, 0, 255);

  --paletteDeepPurple50: rgb(237, 231, 246);
  --paletteDeepPurple100: rgb(209, 196, 233);
  --paletteDeepPurple200: rgb(179, 157, 219);
  --paletteDeepPurple300: rgb(149, 117, 205);
  --paletteDeepPurple400: rgb(126, 87, 194);
  --paletteDeepPurple500: rgb(103, 58, 183);
  --paletteDeepPurple600: rgb(94, 53, 177);
  --paletteDeepPurple700: rgb(81, 45, 168);
  --paletteDeepPurple800: rgb(69, 39, 160);
  --paletteDeepPurple900: rgb(49, 27, 146);
  --paletteDeepPurpleA100: rgb(179, 136, 255);
  --paletteDeepPurpleA200: rgb(124, 77, 255);
  --paletteDeepPurpleA400: rgb(101, 31, 255);
  --paletteDeepPurpleA700: rgb(98, 0, 234);

  --paletteIndigo50: rgb(232, 234, 246);
  --paletteIndigo100: rgb(197, 202, 233);
  --paletteIndigo200: rgb(159, 168, 218);
  --paletteIndigo300: rgb(121, 134, 203);
  --paletteIndigo400: rgb(92, 107, 192);
  --paletteIndigo500: rgb(63, 81, 181);
  --paletteIndigo600: rgb(57, 73, 171);
  --paletteIndigo700: rgb(48, 63, 159);
  --paletteIndigo800: rgb(40, 53, 147);
  --paletteIndigo900: rgb(26, 35, 126);
  --paletteIndigoA100: rgb(140, 158, 255);
  --paletteIndigoA200: rgb(83, 109, 254);
  --paletteIndigoA400: rgb(61, 90, 254);
  --paletteIndigoA700: rgb(48, 79, 254);

  --paletteBlue50: rgb(227, 242, 253);
  --paletteBlue100: rgb(187, 222, 251);
  --paletteBlue200: rgb(144, 202, 249);
  --paletteBlue300: rgb(100, 181, 246);
  --paletteBlue400: rgb(66, 165, 245);
  --paletteBlue500: rgb(33, 150, 243);
  --paletteBlue600: rgb(30, 136, 229);
  --paletteBlue700: rgb(25, 118, 210);
  --paletteBlue800: rgb(21, 101, 192);
  --paletteBlue900: rgb(13, 71, 161);
  --paletteBlueA100: rgb(130, 177, 255);
  --paletteBlueA200: rgb(68, 138, 255);
  --paletteBlueA400: rgb(41, 121, 255);
  --paletteBlueA700: rgb(41, 98, 255);

  --paletteLightBlue50: rgb(225, 245, 254);
  --paletteLightBlue100: rgb(179, 229, 252);
  --paletteLightBlue200: rgb(129, 212, 250);
  --paletteLightBlue300: rgb(79, 195, 247);
  --paletteLightBlue400: rgb(41, 182, 246);
  --paletteLightBlue500: rgb(3, 169, 244);
  --paletteLightBlue600: rgb(3, 155, 229);
  --paletteLightBlue700: rgb(2, 136, 209);
  --paletteLightBlue800: rgb(2, 119, 189);
  --paletteLightBlue900: rgb(1, 87, 155);
  --paletteLightBlueA100: rgb(128, 216, 255);
  --paletteLightBlueA200: rgb(64, 196, 255);
  --paletteLightBlueA400: rgb(0, 176, 255);
  --paletteLightBlueA700: rgb(0, 145, 234);

  --paletteCyan50: rgb(224, 247, 250);
  --paletteCyan100: rgb(178, 235, 242);
  --paletteCyan200: rgb(128, 222, 234);
  --paletteCyan300: rgb(77, 208, 225);
  --paletteCyan400: rgb(38, 198, 218);
  --paletteCyan500: rgb(0, 188, 212);
  --paletteCyan600: rgb(0, 172, 193);
  --paletteCyan700: rgb(0, 151, 167);
  --paletteCyan800: rgb(0, 131, 143);
  --paletteCyan900: rgb(0, 96, 100);
  --paletteCyanA100: rgb(132, 255, 255);
  --paletteCyanA200: rgb(24, 255, 255);
  --paletteCyanA400: rgb(0, 229, 255);
  --paletteCyanA700: rgb(0, 184, 212);

  --paletteTeal50: rgb(224, 242, 241);
  --paletteTeal100: rgb(178, 223, 219);
  --paletteTeal200: rgb(128, 203, 196);
  --paletteTeal300: rgb(77, 182, 172);
  --paletteTeal400: rgb(38, 166, 154);
  --paletteTeal500: rgb(0, 150, 136);
  --paletteTeal600: rgb(0, 137, 123);
  --paletteTeal700: rgb(0, 121, 107);
  --paletteTeal800: rgb(0, 105, 92);
  --paletteTeal900: rgb(0, 77, 64);
  --paletteTealA100: rgb(167, 255, 235);
  --paletteTealA200: rgb(100, 255, 218);
  --paletteTealA400: rgb(29, 233, 182);
  --paletteTealA700: rgb(0, 191, 165);

  --paletteGreen50: rgb(232, 245, 233);
  --paletteGreen100: rgb(200, 230, 201);
  --paletteGreen200: rgb(165, 214, 167);
  --paletteGreen300: rgb(129, 199, 132);
  --paletteGreen400: rgb(102, 187, 106);
  --paletteGreen500: rgb(76, 175, 80);
  --paletteGreen600: rgb(67, 160, 71);
  --paletteGreen700: rgb(56, 142, 60);
  --paletteGreen800: rgb(46, 125, 50);
  --paletteGreen900: rgb(27, 94, 32);
  --paletteGreenA100: rgb(185, 246, 202);
  --paletteGreenA200: rgb(105, 240, 174);
  --paletteGreenA400: rgb(0, 230, 118);
  --paletteGreenA700: rgb(0, 200, 83);

  --paletteLightGreen50: rgb(241, 248, 233);
  --paletteLightGreen100: rgb(220, 237, 200);
  --paletteLightGreen200: rgb(197, 225, 165);
  --paletteLightGreen300: rgb(174, 213, 129);
  --paletteLightGreen400: rgb(156, 204, 101);
  --paletteLightGreen500: rgb(139, 195, 74);
  --paletteLightGreen600: rgb(124, 179, 66);
  --paletteLightGreen700: rgb(104, 159, 56);
  --paletteLightGreen800: rgb(85, 139, 47);
  --paletteLightGreen900: rgb(51, 105, 30);
  --paletteLightGreenA100: rgb(204, 255, 144);
  --paletteLightGreenA200: rgb(178, 255, 89);
  --paletteLightGreenA400: rgb(118, 255, 3);
  --paletteLightGreenA700: rgb(100, 221, 23);

  --paletteLime50: rgb(249, 251, 231);
  --paletteLime100: rgb(240, 244, 195);
  --paletteLime200: rgb(230, 238, 156);
  --paletteLime300: rgb(220, 231, 117);
  --paletteLime400: rgb(212, 225, 87);
  --paletteLime500: rgb(205, 220, 57);
  --paletteLime600: rgb(192, 202, 51);
  --paletteLime700: rgb(175, 180, 43);
  --paletteLime800: rgb(158, 157, 36);
  --paletteLime900: rgb(130, 119, 23);
  --paletteLimeA100: rgb(244, 255, 129);
  --paletteLimeA200: rgb(238, 255, 65);
  --paletteLimeA400: rgb(198, 255, 0);
  --paletteLimeA700: rgb(174, 234, 0);

  --paletteYellow50: rgb(255, 253, 231);
  --paletteYellow100: rgb(255, 249, 196);
  --paletteYellow200: rgb(255, 245, 157);
  --paletteYellow300: rgb(255, 241, 118);
  --paletteYellow400: rgb(255, 238, 88);
  --paletteYellow500: rgb(255, 235, 59);
  --paletteYellow600: rgb(253, 216, 53);
  --paletteYellow700: rgb(251, 192, 45);
  --paletteYellow800: rgb(249, 168, 37);
  --paletteYellow900: rgb(245, 127, 23);
  --paletteYellowA100: rgb(255, 255, 141);
  --paletteYellowA200: rgb(255, 255, 0);
  --paletteYellowA400: rgb(255, 234, 0);
  --paletteYellowA700: rgb(255, 214, 0);

  --paletteAmber50: rgb(255, 248, 225);
  --paletteAmber100: rgb(255, 236, 179);
  --paletteAmber200: rgb(255, 224, 130);
  --paletteAmber300: rgb(255, 213, 79);
  --paletteAmber400: rgb(255, 202, 40);
  --paletteAmber500: rgb(255, 193, 7);
  --paletteAmber600: rgb(255, 179, 0);
  --paletteAmber700: rgb(255, 160, 0);
  --paletteAmber800: rgb(255, 143, 0);
  --paletteAmber900: rgb(255, 111, 0);
  --paletteAmberA100: rgb(255, 229, 127);
  --paletteAmberA200: rgb(255, 215, 64);
  --paletteAmberA400: rgb(255, 196, 0);
  --paletteAmberA700: rgb(255, 171, 0);

  --paletteOrange50: rgb(255, 243, 224);
  --paletteOrange100: rgb(255, 224, 178);
  --paletteOrange200: rgb(255, 204, 128);
  --paletteOrange300: rgb(255, 183, 77);
  --paletteOrange400: rgb(255, 167, 38);
  --paletteOrange500: rgb(255, 152, 0);
  --paletteOrange600: rgb(251, 140, 0);
  --paletteOrange700: rgb(245, 124, 0);
  --paletteOrange800: rgb(239, 108, 0);
  --paletteOrange900: rgb(230, 81, 0);
  --paletteOrangeA100: rgb(255, 209, 128);
  --paletteOrangeA200: rgb(255, 171, 64);
  --paletteOrangeA400: rgb(255, 145, 0);
  --paletteOrangeA700: rgb(255, 109, 0);

  --paletteDeepOrange50: rgb(251, 233, 231);
  --paletteDeepOrange100: rgb(255, 204, 188);
  --paletteDeepOrange200: rgb(255, 171, 145);
  --paletteDeepOrange300: rgb(255, 138, 101);
  --paletteDeepOrange400: rgb(255, 112, 67);
  --paletteDeepOrange500: rgb(255, 87, 34);
  --paletteDeepOrange600: rgb(244, 81, 30);
  --paletteDeepOrange700: rgb(230, 74, 25);
  --paletteDeepOrange800: rgb(216, 67, 21);
  --paletteDeepOrange900: rgb(191, 54, 12);
  --paletteDeepOrangeA100: rgb(255, 158, 128);
  --paletteDeepOrangeA200: rgb(255, 110, 64);
  --paletteDeepOrangeA400: rgb(255, 61, 0);
  --paletteDeepOrangeA700: rgb(221, 44, 0);

  --paletteBrown50: rgb(239, 235, 233);
  --paletteBrown100: rgb(215, 204, 200);
  --paletteBrown200: rgb(188, 170, 164);
  --paletteBrown300: rgb(161, 136, 127);
  --paletteBrown400: rgb(141, 110, 99);
  --paletteBrown500: rgb(121, 85, 72);
  --paletteBrown600: rgb(109, 76, 65);
  --paletteBrown700: rgb(93, 64, 55);
  --paletteBrown800: rgb(78, 52, 46);
  --paletteBrown900: rgb(62, 39, 35);

  --paletteGrey50: rgb(250, 250, 250);
  --paletteGrey100: rgb(245, 245, 245);
  --paletteGrey200: rgb(238, 238, 238);
  --paletteGrey300: rgb(224, 224, 224);
  --paletteGrey400: rgb(189, 189, 189);
  --paletteGrey500: rgb(158, 158, 158);
  --paletteGrey600: rgb(117, 117, 117);
  --paletteGrey700: rgb(97, 97, 97);
  --paletteGrey800: rgb(66, 66, 66);
  --paletteGrey900: rgb(33, 33, 33);

  --paletteBlueGrey50: rgb(236, 239, 241);
  --paletteBlueGrey100: rgb(207, 216, 220);
  --paletteBlueGrey200: rgb(176, 190, 197);
  --paletteBlueGrey300: rgb(144, 164, 174);
  --paletteBlueGrey400: rgb(120, 144, 156);
  --paletteBlueGrey500: rgb(96, 125, 139);
  --paletteBlueGrey600: rgb(84, 110, 122);
  --paletteBlueGrey700: rgb(69, 90, 100);
  --paletteBlueGrey800: rgb(55, 71, 79);
  --paletteBlueGrey900: rgb(38, 50, 56);

  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorDarkContrast: var(--colorWhite);
  --colorLightContrast: var(--colorBlack);
}
