@import './variables.css';

.reset {
  box-sizing: border-box;
  font-family: var(--preferred-font);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;

  & *,
  & *::after,
  & *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;
  }
}
