vendor(prop, args)
  for vendor in webkit moz ms
    -{vendor}-{prop} args
  {prop} args

vendorValue(prop, args)
  {prop} -webkit- + args
  {prop} -moz- + args
  {prop} -ms- + args
  {prop} args

vendorNoMS(prop, args)
  for vendor in webkit moz
    -{vendor}-{prop} args
  {prop} args

vendorValueNoMS(prop, args)
  {prop} -webkit- + args
  {prop} -moz- + args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

background-size()
  vendor('background-size', arguments)

text-shadow()
  vendor('text-shadow', arguments)

backface-visibility()
  vendor('backface-visibility', arguments)

perspective()
  vendor('perspective', arguments)

/* ==================== ANIMATION =================== */
animation()
  vendor('animation', arguments)

animation-name()
  vendor('animation-name', arguments)

animation-duration()
  vendor('animation-duration', arguments)

animation-timing-function()
  vendor('animation-timing-function', arguments)

animation-delay()
  vendor('animation-delay', arguments)

animation-iteration-count()
  vendor('animation-iteration-count', arguments)

animation-direction()
  vendor('animation-direction', arguments)

animation-fill-mode()
  vendor('animation-fill-mode', arguments)

animation-play-state()
  vendor('animation-play-state', arguments)

animation-fill-mode()
  vendor('animation-fill-mode', arguments)

/* ====================== FLEXBOX ====================== */
display-flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

flex()
  vendor('flex', arguments)

flex-direction()
  vendor('flex-direction', arguments)

flex-grow()
  vendor('flex-grow', arguments)

flex-flow()
  vendor('flex-flow', arguments)

flex-wrap()
  vendor('flex-wrap', arguments)

flex-shrink()
  vendor('flex-shrink', arguments)

justify-content()
  vendor('justify-content', arguments)

align-content()
  vendor('align-content', arguments)

align-items()
  vendor('align-items', arguments)

order()
  vendor('order', arguments)

align-self()
  vendor('align-self', arguments)

/* ====================== TRANSITIONS ====================== */
transition()
  vendor('transition', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transition-property()
  vendor('transition-property', arguments)

transition-duration()
  vendor('transition-duration', arguments)

transition-timing-function()
  vendor('transition-timing-function', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

transform-style()
  vendor('transform-style', arguments)

/* ====================== COLUMNS ====================== */
columns()
  vendorNoMS('columns', arguments)

column-count()
  vendorNoMS('column-count', arguments)

column-gap()
  vendorNoMS('column-gap', arguments)

column-rule()
  vendorNoMS('column-rule', arguments)

column-rule-color()
  vendorNoMS('column-rule-color', arguments)

column-rule-style()
  vendorNoMS('column-rule-style', arguments)

column-rule-width()
  vendorNoMS('column-rule-width', arguments)

column-span()
  vendorNoMS('column-span', arguments)

column-width()
  vendorNoMS('column-width', arguments)
