@import "../base";
@import "./config";

.input > [role="input"] {
  cursor: pointer;
}

.header {
  position: relative;
  width: 100%;
  padding: $timepicker-header-padding;
  font-size: $timepicker-header-font-size;
  color: $timepicker-primary-contrast-color;
  text-align: center;
  background: $timepicker-primary-color;
}

.hours, .minutes {
  display: inline-block;
  cursor: pointer;
  opacity: .6;
}

.separator {
  margin: 0 $timepicker-header-padding / 2;
  opacity: .6;
}

.ampm {
  position: absolute;
  top: 50%;
  right: 2 * $unit;
  width: $timepicker-ampm-width;
  height: $timepicker-ampm-height * 2;
  margin-top: - $timepicker-ampm-height;
  font-size: $timepicker-ampm-font-size;
  line-height: $timepicker-ampm-height;
  text-align: center;
}

.am, .pm {
  display: block;
  cursor: pointer;
  opacity: .6;
}

.dialog {
  width: $timepicker-dialog-width;
  > [role="body"] {
    padding: 0;
    overflow-y: visible;
  }
  > [role="navigation"] > .button {
    color: $timepicker-primary-color;
    &:hover {
      background: $timepicker-primary-hover-color;
    }
    &:focus:not(:active) {
      background: $timepicker-primary-hover-color;
    }
  }
  &.display-hours .hours, &.display-minutes .minutes, &.format-am .am,
  &.format-pm .pm {
    opacity: 1;
  }
}
