@import "../variables";

$timepicker-primary: $color-primary;
$timepicker-primary-contrast: $color-primary-contrast;
$timepicker-primary-dark: $color-primary-dark;
$timepicker-primary-color: unquote("rgb(#{$timepicker-primary})") !default;
$timepicker-primary-hover-color: unquote("rgba(#{$timepicker-primary}, 0.20)") !default;
$timepicker-primary-contrast-color: unquote("rgb(#{$timepicker-primary-contrast})") !default;
$timepicker-primary-dark-color: unquote("rgb(#{$timepicker-primary-dark})") !default;
$timepicker-ampm-height: 2.2 * $unit;
$timepicker-ampm-width: 4 * $unit;
$timepicker-dialog-width: 30 * $unit;

.input > [role="input"] {
  cursor: pointer;
}

.header {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 52px;
  color: $timepicker-primary-contrast-color;
  text-align: center;
  background: $timepicker-primary-color;
}

.hours, .minutes {
  display: inline-block;
  cursor: pointer;
  opacity: .6;
}

.separator {
  margin: 0 5px;
  opacity: .6;
}

.ampm {
  position: absolute;
  top: 50%;
  right: 20px;
  width: $timepicker-ampm-width;
  height: $timepicker-ampm-height * 2;
  margin-top: - $timepicker-ampm-height;
  font-size: 16px;
  line-height: $timepicker-ampm-height;
  text-align: center;
}

.am, .pm {
  display: block;
  cursor: pointer;
  opacity: .6;
}

.dialog {
  > [role="content"] {
    width: $timepicker-dialog-width;

    > [role="body"] {
      padding: 0;
    }

    > [role="navigation"] > .button {
      color: $timepicker-primary-color;

      &:hover {
        background: $timepicker-primary-hover-color;
      }

      &:focus:not(:active) {
        background: $timepicker-primary-hover-color;
      }
    }
  }

  &.display-hours .hours, &.display-minutes .minutes, &.format-am .am,
  &.format-pm .pm {
    opacity: 1;
  }
}
