@import "../constants.styl"

[data-component-list]
  list-style                      : none
  &, a
    color                         : COLOR
  > li
    overflow                      : hidden
    background-color              : WHITE
    box-shadow                    : ZDEPTH_SHADOW_1
    transition-property             box-shadow
    transition-duration             ANIMATION_DURATION
    transition-timing-function      ANIMATION_EASE
    // -- Classes
    &:hover
      box-shadow                  : ZDEPTH_SHADOW_2
