@import "../../base";
@import "../config";

.row {
  transition: background-color $animation-duration $animation-curve-default;
  &:last-child {
    border-color: transparent;
  }
  > td {
    > input {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
    }
  }
}

.selected, .row:hover {
  background-color: $table-row-highlight;
}

.editable > * {
  cursor: pointer;
}

.changed {
  // @TODO: We've to create a style for changed rows.
}

.selectable {
  padding-right: 0 !important;
  width: 1.8 * $unit;
  > * {
    margin: 0;
  }
}
