:root {
  --autocomplete-color-primary: var(--color-primary);
  --autocomplete-color-primary-contrast: var(--color-primary-contrast);
  --autocomplete-suggestion-active-background: var(--color-background-hover);
  --autocomplete-suggestions-color: var(--color-text);
  --autocomplete-suggestions-background: var(--color-background-raised);
  --autocomplete-border-size: calc(var(--input-field-height) / 7);
  --autocomplete-overflow-max-height: 45vh;
  --autocomplete-suggestion-padding: var(--unit);
  --autocomplete-value-margin: calc(var(--unit) * 0.25) calc(var(--unit) * 0.5) calc(var(--unit) * 0.25) 0;
}
