@import "../constants.styl"

[data-component-autocomplete]
  position                                      : relative
  // -- Children
  > [data-role] > *
    font-size                                   : FONT_SIZE_SMALL
    cursor                                      : pointer
  > [data-role="values"]
    > *
      display                                   : inline-block
      margin                                    : 0 (SPACE / 2) (SPACE / 2) 0
      padding                                   : (SPACE / 4) (SPACE / 2)
      font-size                                 : FONT_SIZE_SMALL
      color                                     : WHITE
      background-color                          : THEME
      border-radius                             : (SPACE / 8)
  > [data-role="suggestions"]
    z-index                                     : 10
    position                                    : absolute
    width                                       : 100%
    overflow-x                                  : hidden
    overflow-y                                  : scroll
    max-height                                  : 0
    margin-top                                  : -(SPACE)
    background-color                            : WHITE
    visibility                                  : hidden
    box-shadow                                  : ZDEPTH_SHADOW_1
    transition                                    max-height ANIMATION_DURATION ANIMATION_EASE
    > *
      padding                                   : (SPACE / 2)
      &:hover
        color                                   : WHITE
        background-color                        : THEME

  // -- Styles
  &.focus
    > [data-role="suggestions"]
      max-height                                : 25vh
      visibility                                : visible
