@import '../colors.css';
@import '../variables.css';
@import '../input/config.css';
@import './config.css';

.autocomplete {
  padding: var(--unit) 0;
  position: relative;

  @apply --reset;
}

.clear {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  display: block;
  top: 12px;
  left: -4px;
  padding: 4px;
}

.withclear input {
  text-indent: 28px !important;
}

.withclear label {
  transition-property: top, left, font-size, color !important;
}

.inputFilled {
  composes: filled from '../input/theme.css';
}

.withclear input:not(:focus):not(.inputFilled) ~ label {
  left: 28px !important;
}

.values {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 calc(var(--unit) / 2) 0;
}

.value {
  margin: var(--autocomplete-value-margin);
}

.suggestions {
  position: absolute;
  background-color: var(--autocomplete-suggestions-background);
  list-style: none;
  max-height: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  transition-duration: var(--animation-duration);
  transition-property: max-height, box-shadow;
  transition-timing-function: var(--animation-curve-default);
  width: 100%;
  z-index: var(--z-index-highest);
  box-shadow: var(--zdepth-shadow-1);
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.suggestion {
  cursor: pointer;
  font-size: var(--input-field-font-size);
  padding: var(--autocomplete-suggestion-padding);

  &.active {
    background-color: var(--autocomplete-suggestion-active-background);
  }
}

.input {
  position: relative;

  &::after {
    border-left: var(--autocomplete-border-size) solid transparent;
    border-right: var(--autocomplete-border-size) solid transparent;
    border-top: var(--autocomplete-border-size) solid var(--input-text-bottom-border-color);
    content: '';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: var(--input-chevron-offset);
    top: 50%;
    transition: transform var(--animation-duration) var(--animation-curve-default);
    width: 0;
  }
}
