:root {
  --drawer-background-color: var(--color-background);
  --drawer-border-color: var(--color-divider);
  --drawer-text-color: var(--color-text-secondary);
  --drawer-width: calc(24 * var(--unit));
  --drawer-desktop-width: calc(4 * var(--standard-increment-desktop));
  --drawer-mobile-width: calc(5 * var(--standard-increment-mobile));
}
