:root {
  --drawer-background-color: var(--palette-grey-50);
  --drawer-border-color: var(--palette-grey-300);
  --drawer-text-color: var(--palette-grey-800);
  --drawer-width: calc(24 * var(--unit));
  --drawer-desktop-width: calc(5 * var(--standard-increment-desktop));
  --drawer-mobile-width: calc(5 * var(--standard-increment-mobile));
}
