@import "../base";
@import "./config";

.root {
  @include shadow-2dp();
  position: absolute;
  top: 0;
  display: block;
  width: $drawer-width;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: $drawer-text-color;
    pointer-events: all;
  background-color: $drawer-background-color;
  transition-delay: 0s;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: transform;
  transform-style: preserve-3d;
  will-change: transform;
  &.right {
    right: 0;
    border-left: 1px solid $drawer-border-color;
  }
  &.left {
    left: 0;
    border-right: 1px solid $drawer-border-color;
  }
}

:global {
  .rt-overlay-appear, .rt-overlay-leave.rt-overlay-leave-active {
    :local{
      .root {
      &.right {
        transform: translateX(100%);
      }
      &.left {
        transform: translateX(- 100%);
      }
      }
    }
  }

  .rt-overlay-appear.rt-overlay-appear-active, .rt-overlay-leave {
    :local(.root) {
      transition-delay: $animation-delay;
      transform: translateX(0);
    }
  }
}
