.app {
  padding: 5.5rem 1.6rem;
  > h1, > h3 {
    line-height: 100%;
  }
  section > h5 {
    margin-top: 3.2rem;
  }
  section > p {
    margin-bottom: 1rem;
  }
  [data-react-toolbox='card'] {
    display: inline-block;
    margin: 1.6rem 1.6rem 0 0;
  }
}

.app-bar {
  padding: 1.6rem;
  justify-content: center;
  > span {
    margin-left: 1rem;
  }
}
