@import '../components/colors.css';
@import '../components/variables.css';
@import '../components/button/config.css';

:root {
  --offset: calc(1.8 * var(--unit));
  --button-floating-height: calc(5.6 * var(--unit));
  --appbar-height: calc(6.4 * var(--unit));
}

body {
  background-color: #f5f5f5;
}

.app {
  padding: var(--offset);

  & > section,
  & > div > section {
    background-color: var(--color-white);
    box-shadow: 0 1px 2px color(var(--color-black) a(25%));
    margin-bottom: var(--offset);
    padding: var(--offset);

    & > h5 {
      color: rgb(48, 63, 159);
      font-size: 20px;
      line-height: 1;
      margin: 0 0 10px;

      &:not(:first-child) {
        margin-top: calc(2 * var(--offset));
      }
    }

    & > p {
      font-size: 14px;
      line-height: 24px;
      margin: calc(var(--offset) / 4) 0;
      opacity: 0.6;
    }

    & [data-react-toolbox='card'] {
      display: inline-block;
      margin: var(--offset) var(--offset) 0 0;
    }
  }

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.drawer {
  padding: 15px;

  & h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1;
    margin: 0 0 10px;
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 10px;
  }
}

.github {
  position: fixed;
  right: calc(var(--button-floating-height) / 2);
  top: calc(var(--appbar-height) - (var(--button-floating-height) / 2));
  z-index: var(--z-index-higher);
}

.appbar {
  display: flex;

  & > h1 {
    flex-grow: 1;
    font-size: calc(1.8 * var(--unit));
    font-weight: bold;

    & > small {
      font-size: calc(1.8 * var(--unit));
      font-weight: normal;
    }
  }
}

.primary {
  background-color: var(--color-primary);
}

.cards {
  background-color: #f8f8f8;
  border: 1px solid #f4f4f4;
  margin-top: 10px;
}

.cardsGroup {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 20px;
  position: relative;
}

.cardRow {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  & .media {
    height: 80px;
    margin: 16px 16px 0 0;
    width: 80px;
  }

  & .mediaLarge {
    height: 140px;
    margin: 16px;
    width: 140px;
  }
}

.cardItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}

.cardItemContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardItemName {
  display: block;
  margin: 15px 0;
  text-align: center;
}

.card {
  width: 345px;
}

.chipTruncateWrapper {
  border: 1px solid #f4f4f4;
  margin-top: var(--offset);
  padding: calc(var(--offset) / 2);
  width: 20rem;
}

.dropdownTemplate {
  display: flex;
  flex-direction: row;
}

.dropdownTemplateImage {
  background-color: #ccc;
  display: flex;
  flex-grow: 0;
  height: 32px;
  margin-right: 8px;
  width: 32px;
}

.dropdownTemplateContent {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.customSizedProgress {
  &.circular {
    height: 40px;
    width: 40px;
  }
}
