$appbar-brand-height: 2 * $unit;
$appbar-brand-v-padding: ($appbar-height - $appbar-brand-height) / 2;
$appbar-brand-logo-size: $appbar-height - 2.6 * $unit;
$appbar-shadow: 0 1px rgba(255,255,255,0.75);

$drawer-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);

$documentation-h1-size: 3.4 * $unit;
$documentation-h2-size: 2.4 * $unit;
$documentation-h-offset: 4 * $unit;
$documentation-v-offset: ($documentation-h-offset / 2);
$documentation-code-background: rgba(0, 0, 0, 0.0588235);
$documentation-code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$documentation-code-font-size: 13px;
