@import "../../globals";
@import "~react-toolbox/app_bar/config";
@import "~react-toolbox/button/config";
@import "./config";

.appbar {
  composes: appbar from "react-toolbox/app_bar/style";
  background: $color-primary-dark;
}

.brand {
  @include typo-title;
  position: relative;
  display: inline-block;
  padding-top: $appbar-brand-v-padding;
  padding-bottom: $appbar-brand-v-padding;
  padding-left: $appbar-title-distance;
  font-weight: 400;
  color: $color-primary-contrast;
  > .logo {
    position: absolute;
    top: 50%;
    left: 0;
    width: $appbar-brand-logo-size;
    height: $appbar-brand-logo-size;
    margin-top: - $appbar-brand-logo-size / 2;
    fill: $color-primary-contrast;
  }
}

.navigation {
  flex-grow: 1;
  padding-right: $button-floating-height;
  text-align: right;
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      > a {
        @include typo-menu;
        display: inline-block;
        padding: 2.5 * $unit $appbar-h-padding;
        color: $color-primary-contrast;
      }
    }
  }
}

.mainwrapper {
  display: flex;
  max-height: 100vh;
  padding-top: $appbar-height;
  overflow: hidden;
}

.drawer {
  max-width: 22 * $unit;
  max-height: 100%;
  overflow-y: scroll;
  border-right: 1px solid $color-divider;
}

.draweroption {
  padding-left: $appbar-h-padding;
}

.documentation {
  max-height: 100%;
  flex-grow: 1;
  padding: .8 * $unit $appbar-h-padding;
  overflow-y: scroll;
  background-color: $color-content;
}

.playground_button {
  position: absolute;
  right: $button-floating-height / 2;
  bottom: -($button-floating-height / 2);
}
