$snackbar-background-color: $color-text !default;
$snackbar-border-radius: .2 * $unit;
$snackbar-button-offset: 4.8 * $unit;
$snackbar-color: unquote("rgb(#{$color-white})") !default;
$snackbar-horizontal-offset: 2.4 * $unit;
$snackbar-vertical-offset: 1.4 * $unit;
