@import "../colors";
@import "../globals";
@import "../mixins";
@import "./config";

.pager {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .leftRightArrowButton,
    .leftRightRangeButton,
    .pagesButton {
        display: flex;
        flex-shrink: 0;

        min-width: $button-height;
        margin: $button-margin;
    }

    .active {
        text-decoration: underline;
    }
}