@import '../constants'

FINAL_OPACITY = .4

:local(.root)
  position                    : absolute
  top                         : 0
  left                        : 0
  right                       : 0
  bottom                      : 0

:local(.ripple)
  position                    : absolute
  background-color            : currentColor
  transform                   : translateX(-50%) translateY(-50%)
  border-radius               : 50%
  width                       : 0
  height                      : 0
  opacity                     : FINAL_OPACITY
  transition-duration         : 1.4 * ANIMATION_DURATION
  transition-property         : height, width

  &:not(.active).restarting
    transition-property       : none

  &:not(.active)
    opacity                   : 0
    transition-property       : opacity, height, width

  &.loading
    animation-name            : ripple
    animation-iteration-count : infinite
    animation-timing-function : ANIMATION_EASE
    animation-duration        : (2 * ANIMATION_DURATION)
    height                    : (4 * UNIT)
    width                     : (4 * UNIT)
    left                      : 50%
    opacity                   : 0
    top                       : 50%

@keyframes ripple
  0%
    width                     : 0
    height                    : 0
    opacity                   : FINAL_OPACITY
  100%
    opacity                   : 0
