$dropdown-offset: 1.6 * $unit;
$dropdown-color-white: unquote("rgb(#{$color-white})");
$dropdown-color-primary: unquote("rgb(#{$color-primary})");
$dropdown-color-primary-contrast: unquote("rgb(#{$color-primary-contrast})");
$dropdown-value-hover-background: unquote("rgb(#{$palette-grey-200})");
$dropdown-overflow-max-height: 45vh;
