@import "../variables";
@import "../mixins";

$dropdown-input-height: 3 * $unit;
$droppdown-background: unquote("rgb(#{$color-white})");
$dropdown-value-background: unquote("rgb(#{$color-primary})");
$dropdown-value-color: unquote("rgb(#{$color-primary-contrast})");
$dropdown-value-hover-background: unquote("rgb(#{$palette-grey-200})");

.root {
  position                        : relative;
  margin-bottom                   : $offset;
  width                           : inherit;
  color                           : $color-text;
  border-bottom                   : 1px solid $color-divider;

  &.active {
    > .label, > .value {
      opacity                     : 0.5;
    }
    > .values {
      transform                   : translateY(0%);
      max-height                  : 40vh;
    }
  }

  &.disabled {
    color                         : $color-text-secondary;
    border-bottom-style           : dotted;
    > .value:after {
      transform                   : scale(0);
    }
  }
}

.label, .value {
  transition: opacity $animation-duration $animation-curve-fast-out-slow-in;
}

.label {
  position                        : relative;
  font-size                       : $font-size-tiny;
  color                           : $color-text-secondary;
}

.values {
  z-index                         : 2;
  position                        : absolute;
  top                             : 0;
  left                            : 0;
  width                           : auto;
  max-height                      : 0;
  list-style                      : none;
  overflow-x                      : hidden;
  overflow-y                      : scroll;
  width : auto;
  background-color                : $droppdown-background;
  border-radius                   : $border-radius;
  box-shadow: $zdepth-shadow-1;
  transition-property             : max-height, box-shadow, transform;
  transition-duration             : $animation-duration;
  transition-timing-function      : $animation-curve-fast-out-slow-in;
  > * {
    position                      : relative;
    padding                       : $unit;
    overflow                      : hidden;
    cursor                        : pointer;
    &:hover {
      background-color: $dropdown-value-hover-background;
    }
    &.selected {
      color: $dropdown-value-background;
    }
  }
  &:not(.up) {
    top: 1rem;
    bottom: auto;
    transform                       : translateY(-$dropdown-input-height);
  }
  &.up {
    top: auto;
    bottom: 1rem;
    transform                       : translateY($dropdown-input-height);
  }
}

.value {
  display                         : block;
  > span {
    height                        : $dropdown-input-height;
    font-size                     : $font-size-normal;
    line-height                   : $dropdown-input-height;
  }
  > :not(span) {
    margin                        : ($offset / 2) 0;
  }
  &:after {
    $size : ($dropdown-input-height / 7);
    $border : $size solid transparent;
    position                      : absolute;
    content                       : "";
    right                         : ($offset / 2);
    bottom                        : $offset;
    width                         : 0;
    height                        : 0;
    border-left                   : $border;
    border-right                  : $border;
    border-top                    : $size solid $color-divider;
    transition                    : transform $animation-duration $animation-curve-fast-out-slow-in;
  }
}

.ripple {
  background-color                : $color-divider;
  opacity                         : 1;
  z-index                         : 0;
}
