$datepicker-primary: $color-primary;
$datepicker-primary-contrast: $color-primary-contrast;
$datepicker-primary-dark: $color-primary-dark;
$datepicker-primary-color: $datepicker-primary !default;
$datepicker-primary-hover-color: rgba($datepicker-primary, 0.20) !default;
$datepicker-primary-contrast-color: $datepicker-primary-contrast !default;
$datepicker-primary-dark-color: $datepicker-primary-dark !default;
$datepicker-dialog-width: 33 * $unit;
$datepicker-inactive-opacity: .6;
$datepicker-weekday-line-height: 2 * $unit;
$datepicker-weekday-font-size: $font-size-small;
$datepicker-month-font-size: $font-size-big;
$datepicker-day-font-size: 5 * $unit;
$datepicker-day-line-height: 4 * $unit;
$datepicker-year-font-size: $font-size-small;
