:root {
  --datepicker-primary: var(--color-primary);
  --datepicker-primary-contrast: var(--color-primary-contrast);
  --datepicker-primary-dark: var(--color-primary-dark);
  --datepicker-primary-color: var(--datepicker-primary);
  --datepicker-primary-hover-color: color(var(--datepicker-primary) a(0.2));
  --datepicker-primary-contrast-color: var(--datepicker-primary-contrast);
  --datepicker-primary-dark-color: var(--datepicker-primary-dark);
  --datepicker-dialog-width: calc(33 * var(--unit));
  --datepicker-inactive-opacity: 0.6;
  --datepicker-weekday-line-height: calc(2 * var(--unit));
  --datepicker-weekday-font-size: var(--font-size-small);
  --datepicker-month-font-size: var(--font-size-big);
  --datepicker-day-font-size: calc(5 * var(--unit));
  --datepicker-day-line-height: calc(4 * var(--unit));
  --datepicker-year-font-size: var(--font-size-small);
  --calendar-primary: var(--color-primary);
  --calendar-primary-contrast: var(--color-primary-contrast);
  --calendar-primary-color: var(--calendar-primary);
  --calendar-primary-contrast-color: var(--calendar-primary-contrast);
  --calendar-primary-hover-color: color(var(--calendar-primary) a(0.21));
  --calendar-arrows-color: var(--palette-grey-600);
  --calendar-arrows-font-size: calc(2 * var(--unit));
  --calendar-year-font-size: 2.4;
  --calendar-day-font-size: calc(1.3 * var(--unit));
  --calendar-day-disable-opacity: 0.25;
  --calendar-row-height: calc(3.6 * var(--unit));
  --calendar-day-padding-topbottom: calc(0.2 * var(--unit));
  --calendar-day-padding-leftright: 0;
  --calendar-title-height: calc(3.6 * var(--unit));
  --calendar-total-height: calc(var(--calendar-row-height) * 7 + var(--calendar-title-height) + var(--calendar-day-padding-topbottom) * 12);
}
