$color-primary: $palette-indigo-500;
$color-primary-dark: $palette-indigo-700;
$color-primary-light: $palette-indigo-500;
$color-accent: $palette-pink-a200;
$color-accent-dark: $palette-pink-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
