$editor-height: 51.2 * $unit;
$editor-padding: $unit;

div.CodeMirror {
  height: $editor-height;
  flex-grow: 1;
}

.CodeMirror-lines {
  padding: $editor-padding 0;
}

pre.CodeMirror-line {
  padding: 0 $editor-padding;
}

div.CodeMirror pre, div.CodeMirror-linenumber, code {
  @include code-typography;
}
