@import 'variables.css';

:root {
  --editor-height: 28 * var(--unit);
  --editor-padding: var(--unit);
}

:global {
  & div.CodeMirror {
    flex-grow: 1;
    height: var(--editor-height);
  }

  & .CodeMirror-lines {
    padding: var(--editor-padding) 0;
  }

  & pre.CodeMirror-line {
    padding: 0 var(--editor-padding);
  }

  & div.CodeMirror pre,
  & div.CodeMirror-linenumber,
  & code {
    font-family: source-code-pro, Menlo, Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
    font-size: 13px;
    line-height: 1.4;
  }
}

.editor {
  position: relative;
}
