@import "../globals";
@import "../mixins";

.editor {
  position: relative;

  :global {
    @import "~codemirror/lib/codemirror";
    @import "solarized";
    @import "custom";
  }

  &:before {
    display: block;
    width: 100%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #c2c0bc;
    content: "Try Component";
    background: #f1ede4;
  }
}
