$menu-expand-duration: .3s !default;
$menu-fade-duration: .2s !default;
$menu-ripple-delay: .3s !default;
$menu-background-color: unquote("rgb(#{$color-white})");
$menu-padding: .8 * $unit 0;

$menu-item-hover-background: unquote("rgb(#{$palette-grey-200})");
$menu-item-icon-font-size: 2.4 * $unit;
$menu-item-icon-size: 1.6 * $menu-item-icon-font-size;
$menu-item-height: 4.8 * $unit;
$menu-item-padding: 1.6 * $unit;
$menu-item-font-size: 1.6 * $unit;

$menu-divider-height: (4.8 * $unit) / 4;
