@import "../mixins";
@import "../variables";

$dropdown-color-white: unquote("rgb(#{$color-white})");

.root {
  width: 22.5vw;
  padding: ($offset / 2) 0;
  list-style: none;
  background-color: $dropdown-color-white;
  border-radius: $border-radius;
  box-shadow: $zdepth-shadow-1;
}
