@import "../base";
@import "./config";

.root {
  position: relative;
  display: inline-block;
  text-align: center;
}

.icon {
  font-size: $menu-icon-size;
  vertical-align: middle;
  cursor: pointer;
}

.ripple {
  opacity: .1;
  transition-duration: $menu-icon-ripple-duration;
}
